{% extends "nav.html" %}

{% block nav %}


<div class="container">
  <div class="row">
     <div class="col-md-6 mx-auto mt-5">
        <div class="payment">
           <div class="payment_header">
              <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
           </div>
           <div class="content">
              <h1>Payment Successful !</h1>
              <p>You are order has been placed successfully, thank you for purchasing with us!! </p>
              <a href="{%url 'ch' %}">Go to Home</a>
           </div>
           
        </div>
     </div>
  </div>
</div>
  
{% endblock %}



